

body{
    background-color: teal;
}

nav{
    background-color: #A3E4D7;
}

/* ID */
#sing{
    background-color: #0dc7dc ;
}

main{
    background-color: #A9DFBF;
}

section button{
    background-color: #FFEB3B;
}

.post a{
    color: rgba(1, 108, 42, 0.648);
    background-color: #E1BEE7 ;
}

span{
    color: rgba(1, 108, 42, 0.648);
}

/* CLASS */
.tag {
    background-color: rgb(185, 84, 84);
    font-size: 16px;
    font-family: monospace;
}


footer{
    background-color: black;
}

footer a{
    background-color: #F57F17; 
}
