body {
    font-family: 'Open Sans', sans-serif;
}
h1,h2 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row-reverse/*column, column-reverse, row; */;
    justify-content: space-evenly/*, space beteew, space around, space-evenly(espacio uniforme) */;
    align-items: flex-start /*flex-start/end center */;
    flex-wrap:/* nowrap, wrap-reverse,warp*/ nowrap;
    align-content: space-around /*center, space-around, flex-start, flex-end*/;/*Depende del wrap¡¡*/
}

#container div{
    width: 200px;
    height: 200px;
    font-size: 4em;
}

div:nth-of-type(3){
    align-self: center/*center, flex-start/end*/;
}

main{
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}
main .sidebar{
    background-color: #d00c6b;
    flex: 2 2 300px;
}
main .maincontent{
    background-color: #09ab9d;
    flex: 2 1 800px; 
}


@media (min-width: 100px){
    h1,h2{
        color: green;
    }
}

@media (min-width: 1000px){
    h1,h2{
        color: rgb(11, 0, 128);
    }
}