div{
    width: 210px;
    border: 1px;
    border-color:grey;
    border-style:solid;
    border-radius: 5px;
    text-align:center;
}

.card img {
    width: 200px;
    border: 5px rgb(236,183,191) solid;
    border-radius:50%;
}