h1{
    text-align: center;
    font-weight: 400;
    text-decoration: underline overline rgb(169, 80, 29);
    letter-spacing: 5px;
}

h2{
    font-family: monospace, sans-serif;
}

h3{
    font-weight: 200;
}


p{
    line-height: 20px;
}